body{
  margin:0;
  box-sizing: border-box;
  /* weights: 400,500,600,700  */
  font-family: 'Montserrat', sans-serif;
}

table {
  border-collapse: collapse;
   border-spacing: 0 1em;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
}

.DayPickerInput-OverlayWrapper{
  margin-top:-50px;
}
